<form id="item-form" method="post">{% with form=item_form %}

	{% csrf_token %}

	{{ form.non_field_errors }}

	<div class="row item-row">
		{{ form.name.errors }}
		<div class="col-2 item-label">
			{{ form.name.label_tag }}
		</div>
		<div class="col-10 item-field">
			{{ form.name }}
		</div>
	</div>

	<div class="row item-row">
		{{ form.sharedlist.errors }}
		<div class="col-2 item-label">
			{{ form.sharedlist.label_tag }}
		</div>
		<div class="col-10 item-field">
			{{ form.sharedlist }}
		</div>
	</div>

	<div class="row item-row">
		{{ form.due_date.errors }}
		<div class="col-2 item-label">
			{{ form.due_date.label_tag }}
		</div>
		<div class="col-10 item-field">
			{{ form.due_date }}
		</div>
	</div>

	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	<button type="submit" class="btn btn-primary">Save changes</button>

</form>{% endwith %}
